
.container {
    display: none;
}

.container.active {
    display: block;
}

.container--content {
    background-color: #daa520;
    color: #2e78ae;
    font-family: 'IM Fell French Canon SC', serif;
    margin-top: 10%;
    text-align: center;
}

#done {
    font-size: 3em;
}

.question {
    font-size: 2em;
}

.title {
    color:#da4820;
    font-size: 6em;
}

.question-option {
  display: inline-block;
  margin: 1em;
}
.question-option > input {
  vertical-align: middle;
  margin: 0 0.3em 0 0;
  cursor: pointer;
}
